{% extends 'layout-alumni.html.twig' %}
{% set active = ['type--alumni-subpage', 'type--page'] %}

{% block title %}Subpage - Alumni - {% endblock %}

{% block cover %}

        <div class="background cover">

            <div class="container">

                <div class="row">

                    <div class="cover--title">

                        <div class="cover--title__wrap">

                            <div class="col-xs-24 col-md-17 col-md-offset-7">
                                School of Law Alumni Chapter
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}

{% block content %}

        <div class="content">

            <div class="content--top">

                <div class="container">

                    <div class="row">

                        <div class="col-md-17 col-md-offset-7">
                            <div class="breadcrumb col-xs-hidden col-md-show">
                                <ul>
                                    <li><a href="{{ url('alumni') }}">Alumni Association</a></li>
                                    <li>School of Law Alumni Chapter</li>
                                </ul>
                            </div>

                            <div id="nav--list__top" class="col-xs-show col-md-hidden">
                                <div class="sidebar--box sidebar--box__border">
                                    <div class="sidebar--box__title">Get Involved! <span class="fa fa-angle-right"></span></div>
                                    <div class="nav--list">
                                        <ul>
                                            <li><a href="#">Academic Groups</a></li>
                                            <li><a href="#">Consitituent Groups</a></li>
                                            <li><a href="#">Out of Town</a></li>
                                            <li class="has-subpage selected"><a href="#">Student Groups</a>
                                                <ul class="subpage">
                                                    <li><a href="#">Future Alumni of Memphis</a></li>
                                                    <li><a href="#">Student Ambassador Board</a></li>
                                                    <li><a href="#">Scholarships</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Pouncer’s Pals</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="container">

                <div class="row">

                    <div class="content--body col-xs-24 col-md-17">

                        <div class="content--body__wrapper">

                            <h1>Cecil C. Humphreys School of Law Alumni Chapter</h1>

                            <a href="#">'Like' the Law Alumni Board on Facebook!</a>

                            <hr>

                            <h2>Recent Events</h2>

                            <h4>Pillars of Excellence Dinner</h4>
                            <h4>Presented by Argent Trust</h4>
                            <p>
                                The Chapter honored seven Pillars of Excellence from within the Memphis laq community including: Hon. George H. Brown, Joe M. Duncan, Hon. David S. Kennedy (BS '67, JD '70), Arnold E. Perl, Julia S. Sayle (JD '70), Hon. Donn A. Southern and Blanchard E. Tual (MA '81). Kathy and J.W. Gibson were recognized as Friends of the Law School.<br>
                                <a href="#">View Photos</a>
                            </p>

                            <hr>

                            <h4>Emerging Issues in Health Law CLE</h4>
                            <p>The UofM Law Alumni Chapter, the MBA Health Law Section and the UofM Institute for Health Law &amp; Policy held a Continuing Education Seminar on Friday, November 21 at the UofM Law School. The program included sessions on topics such as Physician and Hospital Integration, Physician Contracting, Risk Reduction, Futile Care and the Aging Client/Patient, a panel discussion on Issues affecting Medical and Legal Professionals in the Mid-South, an Update to the Affordable Care Act, and a keynote address by Robert Waller, M.D., President Emeritus of the Mayo Clinic Health System. Thank you to our sponsors Alpha Reporting, BankTennessee, Insurance Planning &amp; Service Company, Inc., Methodist and Wellness First.</p>

                            <hr>

                            <h2>Scholarships</h2>
                            <p>The Law Alumni Chapter funds several student scholarships including the Law Alumni Honor Student Scholarship, the Pillars of Excellence Law Alumni Scholarship, the Law Alumni Scholarship Award, and the Excellence in Legal Education Award. For more information about applying for these scholarships, <a href="">click here</a>.</p>

                            <hr>

                            <h2>Get Involved!</h2>
                            <p>Watch this video by Past President Vickie Hardy-Jones (JD '96), recorded at Vision Forum 2014, to learn more about the Law Alumni Chapter and how you can get involved!</p>

                            <div class="container-fluid padding-zero">
                                <div class="col-xs-24 col-sm-20 col-lg-17 padding-zero embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/voFVoxpkM4M?autohide=1&amp;rel=0&amp;showinfo=0" allowfullscreen="true"></iframe>
                                </div>
                            </div>

                            <p>For more information or to get involved in the Law Alumni Chapter, contact Alumni Coordinator Marina Carrier at <a href="mailto:m.carrier@memphis.edu">m.carrier@memphis.edu</a> or <a href="tel:901-678-2461">901-678-2461</a>.

                            <h2>Chapter Leadership List</h2>
                            <ul style="margin-bottom: 70px;">
                                <li>President: <strong>David L. Pool</strong> (BM '91, MAT '94, JD '08), <a href="mailto:">dpool@hudsonziskind.com</a></li>
                                <li>President-Elect: <strong>Richard Glassman</strong> (BS '69, JD '72), <a href="mailto:">rglassman@gewwlaw.com</a></li>
                                <li>Secretary/Treasurer: <strong>Ed L. Brundick III</strong> (BBA '98, MBA '99, JD '03), <a href="mailto:">ebrundick@argenttrust.com</a></li>
                                <li>Past President: <strong>Vickie Hardy Jones</strong> (J.D. '96), <a href="mailto:">vjones@blackmclaw.com</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="content--sidebar col-xs-24 col-md-6">

                        <div class="content--sidebar__wrap">

                            <div class="sidebar--box sidebar--box__border col-xs-hidden col-md-show">
                                <div class="sidebar--box__title">Get Involved!</div>
                                <div class="nav--list">
                                    <ul>
                                        <li><a href="#">Academic Groups</a></li>
                                        <li><a href="#">Consitituent Groups</a></li>
                                        <li><a href="#">Out of Town</a></li>
                                        <li class="has-subpage selected"><a href="#">Student Groups</a>
                                            <ul class="subpage">
                                                <li><a href="#">Future Alumni of Memphis</a></li>
                                                <li><a href="#">Student Ambassador Board</a></li>
                                                <li><a href="#">Scholarships</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pouncer’s Pals</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar--box sidebar--box__border col-xs-hidden col-md-show">
                                <div class="type--alumni__form">
                                    <div data-type="signin">
                                        <span class="type--alumni__form__click"><span class="icon-login"></span> Have an account? Sign In.</span>
                                    </div>
                                    <div data-type="register">
                                        <span class="type--alumni__form__click"><span class="icon-users"></span> Join the Alumni Association</span>
                                    </div>
                                    <div data-type="email">
                                        <span class="type--alumni__form__click"><span class="icon-envelope-letter"></span> Keep in touch! Sign Up for E&#8209;News.</span>
                                        <div class="type--alumni__form__show">
                                            <form action="#">
                                                <input type="text" placeholder="First Name">
                                                <input type="text" placeholder="Last Name">
                                                <input type="text" placeholder="Primary Email Address">
                                                <select class="select-style2">
                                                    <option>Preferred Class Year</option>
                                                    <option>Hello</option>
                                                    <option>Hello</option>
                                                </select>
                                                <div style="text-align: center;">
                                                    <button type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar--box sidebar--box__border col-xs-hidden col-md-show">
                                <div class="sidebar--box__title">Follow Us Online</div>

                                <div class="row icon--socialmedia sidebar--socialmedia">
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__twitter" href="#"><span class="visuallyhidden">Twitter</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__facebook" href="#"><span class="visuallyhidden">Facebook</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__linkedin" href="#"><span class="visuallyhidden">LinkedIn</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__instagram" href="#"><span class="visuallyhidden">Instagram</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__youtube" href="#"><span class="visuallyhidden">YouTube</span></a>
                                    </div>
                                    <div class="col-md-8">
                                            <a class="icon--socialmedia__flickr" href="#"><span class="visuallyhidden">Flickr</span></a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}
