                        <div id="prospective-services" class="row prospective-students-content">
                            <div class="col col-sm-22 col-sm-offset-1 col-md-14 col-md-offset-1">

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="h1 h1--white">
                                            <span class="h1--sub">Student Services</span>
                                            <span class="h1--title">We're Here for You</span>
                                            <span class="icon--circle fa fa-angle-up col-sm-hidden"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-19">
                                        <p>The UofM provides services and resources designed to help you adapt to college life, face new challenges and pursue your passions to develop to your full potential.</p>

                                        <div class="text-link">
                                            <a href="http://www.memphis.edu/studentaffairs/students/index.php">Student Services <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24 col-sm-12">
                                        <a href="#">
                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/transparent-campus-map.png" alt="Campus Map"/>
                                            <noscript><img src="{{ app.request.basepath }}/img/transparent-campus-map.png" alt="Campus Map"/></noscript>
                                        </a>
                                    </div>

                                    <div class="box col-xs-24 col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2">
                                        <div class="box-title">Popular Services</div>
                                        <p>
<a href="http://www.memphis.edu/health/">Health Center</a> <br>
<a href="http://www.memphis.edu/childcare/">Child Care</a><br>
<a href="http://www.memphis.edu/careerservices/">Career Services</a><br>
<a href="http://www.memphis.edu/counseling/">Counseling</a><br>
<a href="http://www.memphis.edu/veterans/">Veterans Resources</a><br>
<a href="http://www.memphis.edu/ssp/">Student Success Program</a><br>
<a href="http://www.memphis.edu/drs/">Disability Resources</a><br>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-sm-hidden col-md-show col-md-8 col-md-offset-1">
                                {% include 'slideshow.html.twig' with {'title' : 'Here to Help'} %}
                            </div>

                        </div>
