                        <div id="prospective-living" class="row prospective-students-content">
                            <div class="col col-sm-22 col-sm-offset-1 col-md-14 col-md-offset-1">

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="h1 h1--white">
                                            <span class="h1--sub">Campus Living</span>
                                            <span class="h1--title">Your New Home</span>
                                            <span class="icon--circle fa fa-angle-up col-sm-hidden"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-19">
                                        <p>College is all about meeting new people and trying new things. Living on campus is the best way to do these things. Plus you’ll make better grades because you’re more likely to go to class and meet with study groups. You have access to great food, free WiFi, laundry service, student activities and convenient parking. And it’s affordable!</p>

                                        <div class="text-link">
                                            <a href="http://www.memphis.edu/reslife#">Resident Life <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24 col-sm-12">
                                        <a href="#">
                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/transparent-campus-map.png" alt="Campus Map"/>
                                            <noscript><img src="{{ app.request.basepath }}/img/transparent-campus-map.png" alt="Campus Map"/></noscript>
                                        </a>
                                    </div>

                                    <div class="box col-xs-24 col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2">
                                        <div class="box-title">Resident Halls</div>
                                        <p>
<a href="http://www.memphis.edu/reslife/housing/centennial.php">Centennial Place</a><br>
<a href="http://www.memphis.edu/reslife/housing/llc.php">LLC Honors Housing</a><br>
<a href="http://www.memphis.edu/reslife/housing/rawls.php">Rawls Hall</a><br>
<a href="http://www.memphis.edu/reslife/housing/carneyjohnston.php">Lambuth Campus</a><br>
<a href="http://www.memphis.edu/reslife/housing/carpenter.php">Carpenter Complex</a><br>
<a href="http://www.memphis.edu/reslife/housing/index.php">View more options <i class="fa fa-angle-right"></i></a><br>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-sm-hidden col-md-show col-md-8 col-md-offset-1">
                                {% include 'slideshow.html.twig' with {'title' : 'Life on Campus'} %}
                            </div>

                        </div>
