                        <div id="prospective-dining" class="row prospective-students-content">
                            <div class="col col-sm-22 col-sm-offset-1 col-md-14 col-md-offset-1">

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="h1 h1--white">
                                            <span class="h1--sub">Campus Dining</span>
                                            <span class="h1--title">Food for Thought</span>
                                            <span class="icon--circle fa fa-angle-up col-sm-hidden"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-19">
                                        <p>Need a snack between classes or a full meal? There are 17 dining locations across campus to satisfy even the hungriest Tiger.</p>

                                        <div class="text-link">
                                            <a href="http://memphis.campusdish.com#">Campus Dining <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24 col-sm-12">
                                        <a href="#">
                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/transparent-campus-map.png" alt="Campus Map"/>
                                            <noscript><img src="{{ app.request.basepath }}/img/transparent-campus-map.png" alt="Campus Map"/></noscript>
                                        </a>
                                    </div>

                                    <div class="box col-xs-24 col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2">
                                        <div class="box-title">Where to Eat</div>
                                        <p>
University Center<br>
Tiger Den<br>
McWherter Library<br>
FedEx Institue<br>
Community Health Building<br>
<a href="https://memphis.campusdish.com/Locations.aspx">See complete list <i class="fa fa-angle-right"></i></a><br>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-sm-hidden col-md-show col-md-8 col-md-offset-1">
                                {% include 'slideshow.html.twig' with {'title' : 'Get Served'} %}
                            </div>

                        </div>
