                        <div id="prospective-visit" class="row prospective-students-content">
                            <div class="col col-sm-22 col-sm-offset-1 col-md-14 col-md-offset-1">

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="h1 h1--white">
                                            <span class="h1--sub">Plan a Visit</span>
                                            <span class="h1--title">Your New Perspective</span>
                                            <span class="icon--circle fa fa-angle-up col-sm-hidden"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-19">
                                        <p>Two campuses. One future. Students need to be comfortable in their surroundings before they pounce on their future dreams. UofM uniquely provides two campus environments that help students find their perfect match: UofM Lambuth or the Memphis Campus.</p>

                                        <div class="text-link">
                                            <a href="#">Plan a Visit <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24 col-sm-12">
                                        <a href="#">
                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/transparent-campus-map.png" alt="Campus Map"/>
                                            <noscript><img src="{{ app.request.basepath }}/img/transparent-campus-map.png" alt="Campus Map"/></noscript>
                                        </a>
                                    </div>

                                    <div class="box col-xs-24 col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2">
                                        <div class="box-title">By the Numbers</div>
                                        <p>Campus Population: 21,000+&nbsp; |&nbsp; 15:1 Student-Faculty Ratio&nbsp; |&nbsp; Students from 79 countries&nbsp;
                                        |&nbsp; 2,201 students in the Honors Program
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-sm-hidden col-md-show col-md-8 col-md-offset-1">
                                {% include 'slideshow.html.twig' with {'title' : 'What\'s Local?'} %}
                            </div>

                        </div>

