@media (min-width: $screen-sm-min) {
  .col-sm-hidden {
    display: none !important;
  }

  .col-sm-show {
    display: block !important;
  }

  h1, .h1 {
    font-size: 36px;
  }

  h2, .h2 {
    font-size: 22px;
    line-height: 28px;
  }

  p {
    font-size: 16px;
  }

  header {
    height: 112px;
  }

  .home {
    &-- {
      &alumni {
        .footer {
          &-- {
            &top {
              &__ {
                &img {
                  img {
                    border: 0;
                    margin-bottom: 0;
                  }
                }
                &logo, &text {
                  margin-bottom: 25px;
                }
                &logo {

                }
                &text {
                  text-align: left;
                }
              }
            }
          }
        }
      }

      &programs {
        &__ {
          &box {
            min-height: 172px;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .icon {
    &- {
      &custom {
        &- {
          &tickets {
            width: 75px;
            height: 56px;
            background-size: auto auto;
          }
        }
      }
    }
  }

  .header {
    &--logo {
      a {
        float: none;
      }

      img {
        max-width: 90%;
        margin-top: 5px;
      }
    }

    &--menu__button {
      span {
        font-size: 50px;
        line-height: 2;
      }
    }
  }

  .h1 {
    .h1--title {
      display: inline;
    }
  }

  .type-- {
    &alumni {
      &__ {
        &cover {
          padding-bottom: 0;
        }
        &switcher {
          &__ {
            &images {
              padding-bottom: 90%;
              img {
              }
            }
            &lists {
              &li {
                font-size: 17px;
                line-height: 28px;
              }
            }
          }
        }
        &join-membership {
          a {
            font-size: 16px;
          }
          .h1 {
            font-size: 44px;
            line-height: 41px;
          }
        }
      }
    }

    &page {
      .cover {
        //min-height: 272px;
      }
      .cover--title {
        margin-top: 112px;
      }
    }

    &microsite {
      &-subpage {
        &-faculty {
          td {
            &:before {
              content: '' !important;
            }
          }
        }
      }
    }
  }

  .top {
    &--links {
      padding: 0;
      font-size: 18px;
      width: 120%;
      margin-left: -10%;

      li {
        width: auto;
        text-align: start;
      }

      a {
        width: auto;
        display: block;
        padding: 18px 18px;
      }
    }
  }

  .slideshow {
    &--container {
      top: 185px;
      left: 0;
    }

    &--wrap {
      border: 18px solid $color--white;
      @include box-shadow(3px 4px 40px rgba(2, 2, 2, 0.75), inset 8.4px 11.2px 24px rgba(2, 2, 2, 0.75));
    }

    &-page {
      &-- {
        &overlay {
          &__ {
            &wrapper {
              width: 65%;
              padding: 20px 25px 20px 30px;
            }
            &title {
              font-size: 18px;
              letter-spacing: 0.150em;
            }
          }
        }
        &slider {
          &__pager {
            bottom: 8px;
            font-size: 32px;
          }
        }
      }
    }
  }

  .wrap {
    &--home {
      .h1 {
        display: inline-block;
        font-size: 42px;
        line-height: 42px;
      }

      .boxes {
        margin-bottom: 60px;
      }

      .box {
        margin-bottom: 0;
      }

      &__prospective {
        &-students__apply-online {
          .boxes {
            margin-bottom: 20px;
          }
        }
      }

      &__hotline {
        font-size: 16px;

        ul {
          li {
            padding: 0 15px;
          }
        }
      }
    }
  }

  .masonry {
    .item {
      width: percentage((($masonry-width/3)-$masonry-margin-width)/$masonry-width);
    }

    .item--layer__second {
      height: 208%;
    }

    .item-bottom:nth-last-child(-n+4) .item--layer__second {
      top: auto;
      bottom: 0;
    }

    .item--lists {
      width: percentage(((($masonry-width/3)*2)-$masonry-margin-width)/$masonry-width);
      margin: 0 percentage($masonry-margin-width/$masonry-width) 2.5% 0;
    }
  }

  .content {
    &--body {
      p {
//        font-size: 16px;
      }

      &__header {

        &__button {
          a {
            margin-top: -33px;
            padding: 20px 0 22px 40px;
            max-height: 66px;
            font-size: 16px;

            span {
              font-size: 28px;
            }
          }
        }
      }
    }
  }

  .faculty {
    &-- {
      &info {
      }

      &headshot {
        float: right;
      }
    }
  }

  .footer {
    &--top {
      padding: 90px 0 40px;

      h4 {
        text-align: left;
      }

      &__ {
        &img {
          &__ {
            &push {
              border-right: 1px solid $color--white;
            }
          }
        }
      }
    }

    &--socialmedia {
      h4 {
        text-align: center;
      }
    }

    &--full__sitemap {
      margin-bottom: 90px;
      font-size: 28px;
    }

    &--lists {
      text-align: left;
    }
  }
}
