.background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &--fixed {
    background-attachment:fixed;
  }
}

.cover {
  position: relative;

  &--title {
    position: relative;
    color: $color--white;
    @extend .font--bitter;
    text-align: center;
    text-shadow: 3px 4px 10px rgba(7, 8, 8, 0.75);
    letter-spacing: 0.05em;
    font-size: 30px;

    &__wrap {
      //position: absolute;
      //bottom: 35px;
      //left: 0;
      //width: 100%;
    }
  }
}

.home--cover__box {
  position: absolute;
  top: 500px;
  margin-left: -400%;
  padding-bottom: 60px;
  max-height: 270px;
  width: 500%;
  height: 270px;
  background-color: #1C1F23;
  background-color: rgba(#1C1F23, .85);
  color: $color--white;

  &:before {
    position: absolute;
    right: -70px;
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    border-bottom: 270px solid #1C1F23;
    border-bottom-color: rgba(#1C1F23, .85);
    content: '';
    -moz-transform: scale(.9999);
  }

  p {
    margin-bottom: 16px;
    color: $color--white;
  }

  .header {
    &--box {
      right: 0;
      bottom: -30px;
      max-height: 60px;
      height: 60px;
      line-height: 60px;
    }

    &--box__text {
      padding: 0 30px;
      font-size: 15px;
    }

    &--box__arrow {
      //    margin-left: -2px;
      padding: 0 22px;
    }
  }
}

.home--cover__box__title {
  @extend .font--bitter;
  margin: 24px 0 15px;
  font-style: italic;
  font-size: 48px;
}

.home--cover__box__link {
  float: left;
  color: $color--white;
  text-transform: uppercase;
  letter-spacing: 0.150em;
  font-weight: 900;
  font-size: 15px;
  line-height: 32px;

  i {
    float: right;
    margin-left: 6px;
    font-size: 30px;
  }
}

.slideshow {
  &-- {
    &container {
      position: absolute;
      width: 100%;
    }

    &header {
      float: right;
      width: 70%;
    }

    &header__title {
      position: relative;
      float: left;
      max-height: 53px;
      width: 100%;
      height: 53px;
      background-color: #F1F1F1;
      color: #5F5E5E;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 700;
      font-size: 15px;
      line-height: 53px;
      cursor: default;

      &:before {
        position: absolute;
        left: -40px;
        width: 0;
        height: 0;
        border-bottom: 53px solid #F1F1F1;
        border-left: 40px solid transparent;
        content: '';
        -moz-transform: scale(.9999);
      }
    }

    &wrap {
    }

    &slider {
      opacity: 0;

      a {
      }

      img {
        width: 100%;
      }

      &__slide {
        position: relative;
        display: none;
        @include opacity(0);
        width: 100%;

        &:first-child {
          @include opacity(1);
          display: block;
        }
      }

      &__pager {
        position: absolute;
        bottom: 0;
        z-index: 200;
        width: 100%;
        height: 40px;
        background: url(#{$path-image}/slider-stripes.gif) repeat 0 0;
        color: #80E0F9;
        text-align: right;
        font-size: 32px;
        line-height: 40px;

        &__wrapper {
          position: relative;
          float: right;
          padding: 0 8px 0 5px;
          height: 40px;
          background-color: $color--blue-2;

          &:before,
          &:after {
            position: absolute;
            height: 0;
            content: '';
            -moz-transform: scale(.9999);
          }

          &:before {
            left: -23px;
            z-index: -1;
            width: 50px;
            border-right: 19px solid transparent;
            border-bottom: 40px solid transparent;
            border-left: 19px solid transparent;
          }

          &:after {
            left: -19px;
            width: 0;
            border-bottom: 40px solid $color--blue-2;
            border-left: 19px solid transparent;
          }

          span {
            padding: 0 20px;
            cursor: pointer;

            &.slideshow--slider__pager__active {
              color: $color--white;
              cursor: default;
            }
          }
        }
      }
    }

    &overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 150;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 25%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 25%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 25%,rgba(0,0,0,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 25%,rgba(0,0,0,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

      &__wrapper {
        position: absolute;
        bottom: (40px + 25px);
      }

      a {
        display: block;
        margin: 0 20px;
        color: $color--white;
      }

      &__title {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 18px;
      }

      &__desc {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }

  &-page {
    &-- {
      &slider {
        margin-bottom: 60px;

        img {
          width: 100%;
        }

        &__slide {
          position: relative;
          display: none;
          @include opacity(0);
          width: 100%;

          &:first-child {
            @include opacity(1);
            display: block;
          }

          a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 160;
          }
        }

        &__pager {
          position: absolute;
          bottom: 0;
          z-index: 200;
          width: 100%;
          color: #B4B4B4;
          color: rgba(#B4B4B4, 0.3);
          text-align: center;
          font-size: 24px;

          &__wrapper {
            position: relative;
            padding: 0 8px 0 5px;

            span {
              padding: 0 20px;
              cursor: pointer;
              &.slideshow-page--slider__pager__active {
                color: $color--white;
                cursor: default;
              }
            }
          }

          &__{
            &text {
              bottom: -50px !important;
              color: #B4B4B4;
              color: rgba(#B4B4B4, 0.3);
              font-size: 32px;

              .slideshow-page--slider__pager__wrapper {
                span {
                  &.slideshow-page--slider__pager__active {
                    color: #B4B4B4;
                  }
                }
              }
            }
          }
        }
      }

      &overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 150;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

        &__wrapper {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 10px 20px;
          background-color: $color--blue-2;
          background-color: rgba($color--blue-2, 0.76);

          &:before {
            position: absolute;
            top: 0;
            right: -(55px*2);
            width: 0;
            height: 0;
            border-bottom: (115px*2) solid $color--blue-2;
            border-bottom-color: rgba($color--blue-2, 0.76);
            border-right: (55px*2) solid transparent;
            content: '';
            -moz-transform: scale(.9999);
          }
        }

        a {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          //margin: 0 20px;
          color: $color--white;
        }

        &__title {
          margin-bottom: 4px;
          font-size: 16px;
          font-weight: 900;
          letter-spacing: 0.050em;
          text-transform: uppercase;
        }

        &__desc {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}