header {
  position: absolute;
  top: 0;
  z-index: 900;
  height: 83px;

  nav {
    > ul {
      li, a {
        text-align: center;
      }

      > li {

        a {
        }

        &:focus, &:hover, &.selected {
          > a {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.header {
  &--bg {
    position: relative;
//    border-bottom: 9px solid #EEEEEE;
    height: 100%;
    background-color: $color--white;

    &2 {
      position: relative;
      height: 100%;
    }

    &3 {
      position: relative;
      height: 100%;
      background-color: $color--white;
    }

    &__behind {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 85%;
      background-color: #D9D9D9;
      background-color: rgba(#D9D9D9, 0.92);
    }
  }

  &--alert {
    width: 100%;
    background-color: $color--blue-2;
    color: $color--white;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-weight: 900;

    &__ {
      &yellow {
        background-color: #FFFF00;
        color: #FF0000;
      }

      &red {
        background-color: #FF0000;
      }

      &wrapper {
        padding: 8px 0 20px;
        width: 100%;

        &__ {
          &icon {
            float: left;
            margin: 0 10px 10px 0;
            vertical-align: top;
            font-size: 36px;
          }

          &text {
            padding-top: 16px;
            vertical-align: top;

            span {
              margin-right: 40px;
            }

            a {
              display: inline-block;
              color: $color--white;

              i {
                font-weight: 900;
              }
            }
          }
        }
      }
    }
  }

  &--wrapper {
    position: relative;
    height: 100%;

    .header--box {
//      bottom: -(44px + 9px);
//      bottom: -52px;
      bottom: -44px;
      left: 0;
      width: 100%;

      ul {
        li {
          float: left;

          a {

          }
        }
      }
    }

    .header--box__text {
      background-color: rgba(19, 56, 93, 0.80);
    }

    .header--box__arrow {
      background-color: rgba(19, 56, 93, 0.80);
      color: #9CB3CA;

      &.fa-flip-horizontal {
        background-color: $color--blue;
      }
    }
  }

  &--logo {
    a {
      display: inline;
      float: left;
    }

    img {
      margin-top: 10px;
      max-width: 65%;
      width: auto;
    }
  }

  &--menu__button {
    text-align: right;

    i {
      position: relative;
      z-index: 999;
      color: $color--blue;
      font-size: 40px;
      line-height: 1.8;
      cursor: pointer;
    }

    .fa-close {
      color: $color--white;
    }
  }

  &--menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 990;
    background-color: $color--blue;
    background-color: rgba($color--blue, 0.95);
    color: $color--white;

    a {
      color: $color--white;
    }
  }

  &--top {

    nav {
      margin-top: 90px;
      width: 100%;

      a {
        display: inline-block;
        padding: 0 20px;
        font-weight: 700;
        font-size: 13px;
        @include a_bold_hover;
      }

      ul {
        text-align: center;
      }

      li {
        display: inline-block;
        float: none;
        white-space: nowrap;
        line-height: 24px;
      }
    }
  }

  &--bottom {
    margin-top: 10px;

    nav {

      ul {

      }

      li, a {
        text-align: left;
      }

      li {
        width: 100%;
        white-space: nowrap;
        line-height: 1;
      }

      a {
        font-weight: 700;
        @include a_bold_hover;
      }

      > ul {
        > li {

          > a {
            float: left;
            padding: 0 0 0 35px;
            width: 100%;
            border-bottom: 2px solid $color--white;
            font-size: 17px;
            line-height: 48px;

            span {
              float: left;
            }

            i {
              float: right;
              padding: 13px 15px;
              border-left: 1px solid $color--white;
              font-size: 26px;
            }
          }

          &:first-child {
            > a {
              border-top: 2px solid $color--white;
            }
          }

          > ul {
            display: none;
            float: left;
            padding: 10px 10px 20px 60px;
            width: 100%;
            border-bottom: 2px solid $color--white;

            li {

              a {
                display: block;
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
  }

  &--search {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    margin: 10px 0 0 25px;
    padding: 10px 16px;
    width: 70%;
    border: 3px solid $color--white;
    border-radius: 2px;
    background-color: #0B4782;
    background-color: rgba(#0B4782, 0.90);
    color: #F8FBFE;

    &:before {
      margin-right: 14px;
      content: "\f002";
      font-size: 16px;
      font-family: 'FontAwesome';
    }

    input[type="search"] {
      //    float: right;
      margin: 0;
      padding: 3px 0;
      width: 80%;
      outline: 0;
      border: 0;
      background: transparent;
      color: #F8FBFE;
      font-weight: 700;
      font-size: 17px;
      @include placeholder(#F8FBFE);
    }

  }

  &--box {
    position: absolute;
    bottom: 0;
    float: left;
    max-height: 44px;
    height: 44px;
    line-height: 44px;

    &__wrapper {
      position: absolute;
      z-index: 975;

      ul.header--box__text {
        padding: 0;
      }
    }

    &__text {
      float: left;
      padding: 0 24px;
      background-color: #044F9C;
      color: $color--white;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 900;
      font-size: 14px;

      &:focus,
      &:hover {
        color: $color--white;
      }

      li {
        text-transform: none;
        letter-spacing: normal;
        font-size: 16px;

        &:nth-child(odd) {
          a {
            background-color: #0B233B;
          }
        }

        a {
          &.selected {
            position: relative;
            top: 1px;
            background-color: $color--white;
            color: $color--blue;
          }
        }
      }

      a {
        display: block;
        padding: 0 14px;
        color: $color--white;
      }
    }

    &__arrow {
      float: left;
      //  margin-left: -18px;
      padding: 0 18px;
      background-color: $color--blue;
      font-size: 28px;
      font-family: "FontAwesome";

      &, &:focus, &:hover {
        color: #D2DDE7;
      }
    }

    &__mega {
      position: absolute;
      top: 44px;
      z-index: 970;
      width: 100%;
    }
  }

  &--mega {
    //  display: none;
    padding: 60px 20px;
    width: 100%;
    border: 1px solid #959595;
    background-color: #F6F5F5;
    @include box-shadow(3.6px 4.8px 46px #070808);

    h4 {
      font-weight: 700;
      font-size: 18px;
    }

    img {
      max-width: 100%;
    }

    p {
      font-size: 14px;
      line-height: 18px;
    }

    &__block {
      margin-bottom: 30px;
    }

    &__news {
      h4 {
        margin-bottom: 0;
      }

      p {
        margin-top: 0;
      }
    }

    &__right-callout {
      margin-bottom: 30px;
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 15px;
      background-color: #C3C3C3;
      color: $color--white;
      font-size: 18px;
      cursor: pointer;
    }

    .home--quote__info {
      margin-right: percentage(20px / $quote-width-small);
      margin-left: 0;

      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}